<!DOCTYPE html>
<html>
<head>
  <title>SIW-Movie</title>
  <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/styles.css">
  <style>

  </style>
</head>
<body>
  <header>
    <div class="title">
      <h1>SIW (Sistemi Informativi su Web)</h1>
      <h2>Roma Tre</h2>
    </div>

  </header>





  
  <footer>
    <p>Derechos de autor &copy; 2023 SIW (Sistemi Informativi su Web) - Roma Tre. Todos los derechos reservados.</p>
    <div class="logo">
      <img src="/src/main/resources/static/images/logoromatre.jpg" alt="Logo de la Universidad de Roma Tre">
    </div>
  </footer>
</body>
</html>
