<!DOCTYPE html>
<html>
<head>
  <title>SearchArtist</title>
  <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/styles.css">
  <style>

  </style>
</head>
<body>
  <header>
    <div class="title">
      <h1>SIW (Sistemi Informativi su Web)</h1>
      <h2>Roma Tre</h2>
    </div>
    <div class="login-section">
      <a class="logout-button" href="index.html">Cerrar sesión</a>
      <a class="login-button" href="formRegisterUser.html">Iniciar sesión</a>
    </div>
  </header>
  <body>
    <h1>Buscar Artista</h1>
    <form action="/buscar-artista" method="GET">
      <label for="nome">Nombre:</label>
      <input type="text" id="nome" name="nome" required>
  
      <label for="cognombre">Apellido:</label>
      <input type="text" id="cognombre" name="cognombre" required>
  
      <input class="submit-button" type="submit" value="Buscar">
    </form>
  </body>





  
  <footer>
    <p>Derechos de autor &copy; 2023 SIW (Sistemi Informativi su Web) - Roma Tre. Todos los derechos reservados.</p>
    <div class="logo">
      <img src="/src/main/resources/static/images/logoromatre.jpg" alt="Logo de la Universidad de Roma Tre">
    </div>
  </footer>
</body>
</html>
